<html ng-app>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="js/controllers.js"></script>
</head>
<body>
	<div ng-controller='HelloController'>
		<input ng-model='greeting.text'>
		<p>{{greeting.text}}, World</p>
	</div>
	
	<div ng-controller='CountController'>
		<label ng-bind="count" style="display:block"></label>
		<input type="text" ng-bind="count">
		<button ng-click="incrementCount()" style="display:block;">Set count to three</button>
	</div>
	<script type="text/javascript">
		function CountController($scope) {
			$scope.count = 0;
			
			$scope.incrementCount = function(){
				$scope.count++;
			}
		}
	</script>
</body>
</html>